<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <!-- Título que aparece en la pestaña del navegador -->
    <title>Estadísticas</title>
    <!-- Icono que aparece en la pestaña del navegador -->
    <link rel="shortcut icon" href="https://assets.nflxext.com/us/ffe/siteui/common/icons/nficon2023.ico"/>


    <!-- Hoja de estilo propia (main.css) -->
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

    <!-- Tema de Bootstrap (LUX) -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lux/bootstrap.min.css" integrity="sha384-9+PGKSqjRdkeAU7Eu4nkJU8RFaH8ace8HGXnkiKMP9I9Te0GJ4/km3L1Z8tXigpG" crossorigin="anonymous">

</head>

<body>

    <<!-- Divido la página en 4 -->
    <main class="container p-4">

        <header class="d-flex justify-content-between align-items-center p-3"> <!-- Activo el flexbox con d-flex, separo los elementos a los extremos y los alineo verticalmente, finalmente añado un padding -->
            <form action="/volver-a-home"> <!-- Botón logo para volver a la página de home (mostrar-catálogo) -->
                <button type="submit" class="btn p-0 border-0 bg-transparent"> <!-- Elimino los estilos por defecto de Bootstrap -->
                    <img src="/static/recursos/logo.png" alt="Netflix Logo" style="height: 100px;">
                </button>
            </form>
            <form action="/logout"> <!-- Botón log out (posicionado arriba a la derecha de la página) -->
                <button type="submit" class="btn btn-primary btn-block">
                Cerrar Sesión
                </button>
            </form>
        </header>

        <div class="card card-custom">
            <div class="card-header">
                <h1 class="display-4 text-center">MI ACTIVIDAD</h1>
            </div>

            <div class="card-body">
                 <div class="text-center">
                    <!-- Muestra mensaje de error -->
                    {% if mensaje_error %}
                        <div class="alert alert-danger mt-3 text-center" role="alert">
                            {{ mensaje_error }}
                        </div>
                    {% else %}
                         <!-- Indico que el archivo es una imagen con extension png y de tipo base64 (para que el navegador lo reconozca) -->
                         <img src="data:image/png;base64,{{ grafica_1 }}" alt="Gráfico de estadísticas" class="img-statistics">
                          <img src="data:image/png;base64,{{ grafica_2 }}" alt="Gráfico de estadísticas" class="img-statistics">

                     {% endif %}

                </div>
            </div>
        </div>

    </main>

</body>

</html>